.pic{
    text-align: center;
}

li,ul,p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;

}

html{
    background-color:orange ;
}

h1,h2,h3{
    font-size: 30px;
    text-decoration: underline;
}

h1{
    text-align: center;
}

.bord{
    border:10px solid black;
    border-radius: 10px;
    padding-left: 20px;
    border-style:groove;
    border-width: 5px;
    margin:-6px;
}

.koubi_home{
    margin-top: 10px;
    margin-left: -10px;
    background-color: white;
}