.pic{
    text-align: center;
}

li,ul,p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight:normal;
    color:black;
    text-shadow: 0px 0px 30px white;
    
}

html{
    background-color:orange ;
}

h1,h2,h3{
    font-size: 30px;
    text-shadow:0px 0px 10px white;
}

h1{
    text-align: center;
}

.bord{
    border:10px solid black;
    border-radius: 10px;
    padding-left: 20px;
    border-style:groove;
    border-width: 5px;
    margin:-6px;
}


button{
    background-color: black;
    font-size: 20px;
}

button:hover{
    background-color:blue;
}

#favorite a{
    text-decoration: none;
    color: white;
}

