html{
    background-color: orange;
}

.head1{
    border: 3px solid white ;
    border-width: normal;
    border-style:double;
    margin-left:500px ;
    margin-right:500px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
    text-align: center;
    background-color: black;
    color:white;
}

.picture{
    border: 3px solid white;
    border-style: double;
    background-color: black;
    border-top: 0px;
    margin-left: 500px;
    margin-right:500px;
    text-align: center;
}

#arabicrecipes{
    -webkit-text-stroke: 1px white;
    font-size:30px;
    font-weight: 800;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

p,ul,li{
    margin:5px;
}

li{
    margin-left: -20px;
}

a{
    color:blueviolet;
    text-decoration:underline;
}