html{
    background-color: orange;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}


.head1{
    border: 4px double white ;
    margin:0px 40%;
    text-align: center;
    font-size: 26px;
    font-weight: 800;
    -webkit-text-stroke:1px orange;
    background-color: black;
    color:white;
}

.picture{
    border: 4px double white;
    border-top:0px;
    border-bottom: 0px;
    background-color: black;
    margin:0px 40%;
    text-align: center;
}

#arabicrecipes_border{
    border: 4px double white;
    margin:0px 40%;
    text-align: center;
    -webkit-text-stroke: 1px orange;
    font-size:24px;
    font-weight: 800;
    background-color: black;
    color:white;
}


a{
    border: 4px double white;
    border-top:0px;
    display:block;
    color:white;
    margin:0px 40%;
    padding:5px 0px;
    text-align: center;
    background-color: black;
    font-size: 20px;
    text-decoration:none;
}


a:hover{
    color:rgb(175, 0, 219);
}

.picture img{
    height:100%;
    width: 100%;
    object-fit: contain;
}