html{
    background-color: orange;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    display: block;
}


.head1{
    border: 4px double white ;
    margin:0px 500px;
    text-align: center;
    background-color: black;
    font-size: 26px;
    -webkit-text-stroke:1px orange;
}

.picture{
    border: 4px double white;
    border-top:0px;
    border-bottom: 0px;
    background-color: black;
    margin:0px 500px;
    text-align: center;
}

#arabicrecipes_border{
    border: 4px double white;
    margin:0px 500px -16px;
    text-align: center;
    -webkit-text-stroke: 1px orange;
    font-size:24px;
    font-weight: 800;
    background-color: black;
    color:white;
}


ul li{
    border: 4px double white;
    border-top:0px;
    margin:0px 500px 0px 460px;
    color:white;
    text-align: center;
    list-style:none;
    background-color: black;
}

a{
    color:white;
    font-size: 20px;
    text-decoration:none;
}

a:hover{
    color:rgb(175, 0, 219);
}